
@{
    ViewBag.Title = "基本資料管理 / 商品分類設定";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int int_pid = int.Parse(Session["CategoryID"].ToString());
    string str_pids = Session["ParentID"].ToString();
    string str_pnames = Session["ParentName"].ToString();
    string str_space = "＞";
}

<div class="content">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">

                        @if (int_pid > 0)
                        {
                            <div>
                                <h3>
                                    <b>
                                        <strong class="card-title">
                                            上層類別：
                                        </strong>
                                        @if (!string.IsNullOrEmpty(str_pids))
                                        {
                                            List<string> ids = str_pids.Split(',').ToList();
                                            List<string> names = str_pnames.Split(',').ToList();
                                            for (int i = 0; i < ids.Count; i++)
                                            {
                                                if (i == (ids.Count - 1))
                                                {
                                                    <a href="#" class="btn btn-success" style="font-size:large;font-weight:bold;">@names[i] </a>
                                                }
                                                else
                                                {
                                                    <a href="/Admin/Category/Index/@ids[i]" class="btn btn-primary" style="font-size:large;font-weight:bold;">@names[i] </a>
                                                    <span style="font-size:large;font-weight:bold;">@str_space</span>
                                                }
                                            }
                                        }
                                    </b>
                                    @Html.ActionLink("回上一層", "ReturnToParent", "Categorys", new { Area = "Admin" }, new { @class = "btn btn-primary form-button" })


                                </h3>
                            </div>
                            <hr />
                        }


                    </div>
                    <div class="card-body">
                        <table style=" width: 100%" id="DatatableList" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        <a class="popup" title="新增記錄" href="/Admin/Categorys/Create/"><i class="fa fa-plus-square-o fa-2x"></i></a>
                                    </th>
                                    <th>編號</th>
                                    <th>名稱</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>




<script>
    $(document).ready(function () {
        var oTable = $('#DatatableList').DataTable({
            ajax: {
                url: '/Admin/Categorys/GetDataList',
                type: "get",
                datatype: "json"
            },
            "language": {
                "sProcessing": "處理中...",
                "sLengthMenu": "顯示 _MENU_ 項結果",
                "sZeroRecords": "沒有匹配結果",
                "sInfo": "顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項",
                "sInfoEmpty": "顯示第 0 至 0 項結果，共 0 項",
                "sInfoFiltered": "(從 _MAX_ 項結果過濾)",
                "sInfoPostFix": "",
                "sSearch": "查詢:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "首頁",
                    "sPrevious": "上頁",
                    "sNext": "下頁",
                    "sLast": "尾頁"
                }
            },
            "columns": [
                {
                    "data": "rowid", className: "text-center", "width": "30%", "orderable": false, "render": function (data) {
                        return '<a   title="修改記錄" href="/Admin/Categorys/Edit/' + data + '"><i class="fa fa-pencil-square-o fa-2x"></i></a><a id ="' + data + ' " class="delete_cate mx-3" title="刪除記錄" href="#"><i class="fa fa-trash fa-2x"></i></a><a title="子分類明細" href="/Admin/Categorys/Index/' + data + '"><i class="fa fa-list fa-2x"></i></a>';
                    }
                },
                { "data": "category_no", },
                { "data": "category_name" }
            ],


        })


        $(document).on('click', '.delete_cate', function () {
            var id = parseInt($(this).attr("id"));
            if (confirm('是否確定要刪除!')) {
                $.ajax({
                    type: "post",
                    url: "/Categorys/DeleteData/" + id,
                    success: function (status) { if (status) { oTable.ajax.reload(); } }
                })
            }
     
            

        });


    })






</script>
