@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="margin-left:100px;">@ViewBag.Title</h2>
@* <h3>@ViewBag.Message</h3>*@

<div class="aboutCont">
 
    <div class="row">
        <div class="col-12 banner ">
            <div class="carousel silde" data-ride="carousel" style="" >
                <div class="carousel-inner " style="height:200px;">
                    <div class="carousel-item active"><img src="~/img/pasta/005.jpg" alt="" class="img-fluid"></div>
                    <div class="carousel-item "><img src="~/img/pasta/011.jpg" alt="" class="img-fluid"></div>
                    <div class="carousel-item "><img src="~/img/pasta/SS.jpg" alt="" class="img-fluid"></div>
                    <div class="carousel-item"><img src="~/img/pasta/ehud-neuhaus-ylLAdEnKV2k-unsplash.jpg" alt="" class="img-fluid"></div>
                </div>
            </div>
        </div>
    </div>

    @*=========公司理念 1 , 3 =========*@

    <div class="row " style="margin-left:10px; margin-top:20px;">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 ac1">
              <div class="row ">
                <div class="col-12 col-md-6">
                    <h1>1 </h1>
                    <h2 class="text-muted">健康</h2>
                    <p class="m-1 pl-1 text-success">在這裡，我們為客戶的健康把關，原物料進貨前物料商皆需提出SGS檢驗合格證書，就為了讓客戶吃的安心。</p>
                </div>
                <div class="col-12 col-md-6">
                    <img src="~/img/pasta/003.jpg" alt="" class="img-thumbnail ">
                </div>
            </div>
            <div class="row" style="height:100px;"></div>

            <div class="row ">
                <div class="col-12 col-md-6">
                    <img src="~/img/pasta/004.jpg" alt="" class="img-thumbnail ">
                </div>
                <div class="col-12 col-md-6">
                    <h1>3 </h1>
                    <h2 class="text-muted">品質</h2>
                    <p class="m-1 pl-1 text-success">在這裡，我們有著最佳的品質，我們不斷進口國外優質原料，同樣的，我們採用最佳的設備和先進的技術，以保證其高品質。</p>
                </div>

            </div>
        </div>

        @*=========公司簡介=========*@

        <div class=" col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="about-pro">
                <h1>    我們的初衷 ~ </h1>

                <p>
                    1983年初春，我們在桃園楊楊梅職訓局二樓開設桃園第一家義大利麵餐廳，提供各式義大利麵、墩飯、沙拉點心及飲品造成轟動，甚至成為年輕男女約會場所的首選。
                </p>

                <p>
                    接下來的幾年內，隨著經濟發展的與顧客對我們產品的喜愛，我們朝著連鎖品牌邁進，迄今為止，我們有十五家店的規模，服務新竹以北民眾。
                </p>

                <p>
                    經過多年的努力，我們從未懈怠，在技術上不斷的改進，口味上不斷的突破 ，致力追求完美的境界。
                </p>

                <p>
                    本公司採用國內外精選食材、原料讓您吃的安心吃的健康以回饋愛護我們的顧客，未來希望能有更多的據點為大家服務。
                </p>
                <p style="padding-top:100px ">
                    foodfun
                    <br />
                    Tel:03-33883388
                    <br />
                    address:桃園市楊梅區
                </p>


            </div>
        </div>

        @*=========公司理念 2 , 4 =========*@

        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 ac2">
            <div class="row" style="height:100px;"></div>

            <div class="row ">
                <div class="col-12 col-md-6">
                    <h1>2 </h1>
                    <h2 class="text-muted">清潔</h2>
                    <p class="m-1 pl-1 text-success">在這裡，我們所有的店內設備和食材，都確保安全和清潔，就為了給您提供一個安心的飲食。</p>
                </div>
                <div class="col-12 col-md-6">
                    <img src="~/img/pasta/005.jpg" alt="" class="img-thumbnail ">
                </div>
            </div>
            <div class="row" style="height:100px;"></div>

            <div class="row ">
                <div class="col-12 col-md-6">
                    <img src="~/img/pasta/011.jpg" alt="" class="img-thumbnail ">
                </div>
                <div class="col-12 col-md-6">
                    <h1>4 </h1>
                    <h2 class="text-muted">服務</h2>
                    <p class="m-1 pl-1 text-success">在這裡，我們有著最優質的服務，我們每一位員工都以最甜美的微笑去迎接顧客，讓顧客們感到一種賓至如歸的感覺。。</p>
                </div>

            </div>
        </div>

    </div>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14471.667252580726!2d121.18249195!3d24.93490365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34682361c065cbe9%3A0xc24080034849b3e3!2z5Yue5YuV6YOo5Yue5YuV5Yqb55m85bGV572y5qGD56u56IuX5YiG572y5bm8542F6IG35qWt6KiT57e05aC0!5e0!3m2!1szh-TW!2stw!4v1616570802916!5m2!1szh-TW!2stw"
        width="100%" height="230" style="border:0;" allowfullscreen="" loading="lazy"></iframe>