@model IEnumerable<foodfun.Models.StaffOrderViewModel>

@{
    ViewBag.Title = "內用訂單";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .order_time {
        border-radius: 50%;
        /*color: #fff;*/
        font-size: 11px;
        /*height: 20px;
        width: 20px;
        line-height: 20px;*/
        left: 15%;
        top: 38%;
        position: absolute;
    }

    .order_total {
        border-radius: 50%;
        /*color: #fff;*/
        font-size: 11px;
        /*height: 20px;
        width: 20px;
        line-height: 20px;*/
        left: 15%;
        top: 60%;
        position: absolute;
    }

    .order-icon {
        position: relative;
        display: inline-block;
    }


</style>
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-12 border text-center align-items-center">
            <h2 class="my-2">@ViewBag.Title</h2>
            </div>
            <div class="col-3 text-center my-4 " >
                @foreach (var item in Model)
                {
                <div class="my-4 ">

                    <div class="order-icon " >
                        <i class="fas fa-clipboard fa-5x text-warning"></i>
                        <span class="order_time text-danger">@string.Format("{0:hh:mm}", item.orders.SchedulOrderTime)</span>
                        <span class="order_total text-danger">$ @string.Format("{0:G0}", item.orders.total)</span>
                    </div>

                </div>
                }



                </div>
            <div class="col-9"></div>


        </div>
    </div>
</section>

